button($size, $color, $borderColor)
    width: $size
    height: $size
    line-height: $size
    text-align: center
    background: $color
    border: solid 1px $borderColor
    cursor: pointer

.Controls
    position: absolute
    bottom: 32px
    right: 32px
    display: flex
    flex-direction: column
    align-items: flex-end

.Button
    button(30px, #FFFFFF, #444444)
    display: block

.ZoomButton
    margin-bottom: 8px

.CheckBox
    button(30px, #FFFFFF, #444444)
    position: relative

.Checked
    &::after
        position: absolute
        left: 4px
        top: 4px
        content: ''
        width: 20px
        height: 20px
        background: #333333

.GridLabel
    display: inline-block
    line-height: 30px
    color: #FFFFFF
    font-size: 18px
    vertical-align: top
    margin-right: 8px
    text-shadow: 1px 1px 3px #333333

.ToggleGrid
    display: inline-block